#!/bin/bash

BACKUP_FOLDER=<%= @backup_dir %>

SUFFIX=<%= @suffix %>

if [ ! -d $BACKUP_FOLDER ]; then mkdir $BACKUP_FOLDER; fi

<% @apps.each do |app_name, app_settings| %>

  echo "===== BEGIN BACKUP for <%= app_name %> ====="

  DB_NAME=<%= app_settings["database_name"] %>

  <% if app_settings["directory"] %>
    echo "Backing up files for <%= app_name %>"
    echo "tar -czf for <%= app_settings["directory"] %>"
    tar -czf $BACKUP_FOLDER/${DB_NAME}-${SUFFIX}-files.tgz <%= app_settings["directory"] %>
  <% end %>

  <% if app_settings["database_type"].eql?("postgres") %>
    echo "Backing up database <%= app_name %>"
    pg_dump ${DB_NAME} --no-owner --clean > $BACKUP_FOLDER/${DB_NAME}-${SUFFIX}.sql

  <% elsif app_settings["database_type"].eql?("postgres_docker") %>
    echo "Backing up docker database <%= app_name %>"
    docker exec <%= app_settings["database_container_name"] %> pg_dump -U postgres ${DB_NAME} --no-owner --clean > $BACKUP_FOLDER/${DB_NAME}-${SUFFIX}.sql

  <% end %>

  <% if app_settings["keep_one_copy_of_uncompressed_files"] %>
    echo "copying uncompressed files before bzip2ing"
    cp $BACKUP_FOLDER/${DB_NAME}-${SUFFIX}.sql $BACKUP_FOLDER/${DB_NAME}-daily.sql
    cp $BACKUP_FOLDER/${DB_NAME}-${SUFFIX}-files.tgz $BACKUP_FOLDER/${DB_NAME}-daily-files.tgz
  <% end %>

  echo "gziping sql file for <%= app_name %>"
  gzip --force $BACKUP_FOLDER/${DB_NAME}-${SUFFIX}.sql

  echo "===== END BACKUP for <%= app_name %> ====="

<% end %>
